@import "../_global/style";

main {
	display: flex;
	flex-direction: column;
	gap: @gap-max;
	margin-block-start: @gap-medium;
	margin-inline: @gap-min;
}

section#head-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

section#head-section #description {
	text-wrap: pretty;
}

/* CHAT LIST */

#live-chats-list {
	&:extend(.flex-v);
	&:extend(.material-shadow-inset);
	gap: @gap-medium;
	padding: @gap-min;
	width: calc(min(100%, 100vh) - @gap-medium);
	min-width: min-content;
	height: max-content;
	max-height: 50vh;
	scroll-behavior: smooth;
	overflow-y: scroll;
	border-radius: @gap-min;
	background-color: @color-darker-10;
}
#live-chats-list:empty::before {
	content: "No chats found :(";
	display: block;
}

.live-chat {
	&:extend(.flex-h);
	&:extend(.material-block);
	justify-content: space-between;
	gap: @gap-medium;
}
.live-chat::before {
	content: "";
	display: block;
	min-height: 100%;
	min-width: 50px;
	border-radius: @gap-micro;
	background: white url("../_resources/img/logo18.png") no-repeat center center;
}

.live-chat .chat-title {
	text-transform: uppercase;
}
.live-chat .chat-id {
	cursor: pointer;
	font-family: monospace;
	font-style: italic;
}
.live-chat .chat-id:hover {
	text-decoration: underline;
}
.live-chat .chat-id::before {
	content: "#";
	user-select: none;
}