@import "../_global/style";

/* CHAT LIST */

#live-chats-list {
	&:extend(.flex-v);
	gap: @gap-medium;
	padding: @gap-min;
	width: calc(min(100vw, 100vh) - calc(2 * @gap-min));
	min-width: min-content;
	height: 50vh;
	overflow-y: scroll;
	border-radius: @gap-min;
	background-color: @color-layer-10;
	background-image: linear-gradient(0deg, @color-layer-25, transparent 25%);
}
#live-chats-list:empty::before {
	content: "No chats found :(";
	display: block;
}

.live-chats-list-item {
	&:extend(.flex-h);
	&:extend(.material-block);
	justify-content: space-between;
	gap: @gap-medium;
}
.live-chats-list-item::before {
	content: "";
	display: block;
	min-height: 100%;
	min-width: 50px;
	border-radius: @gap-micro;
	background: center center no-repeat;
	background-image: url("../_resources/img/logo18.png");
	background-color: white;
}

.live-chats-list-item .chat-title {
	text-transform: uppercase;
}
.live-chats-list-item .chat-creation-label {
	&:extend(.secondary-text);
}