@import "../_global/style";

/* CHAT LIST */

#live-chats-list {
	&:extend(.flex-v);
	&:extend(.material-shadow-inset);
	gap: @gap-medium;
	padding: @gap-min;
	width: calc(min(100vw, 100vh) - calc(2 * @gap-min));
	min-width: min-content;
	height: max-content;
	max-height: 50vh;
	overflow-y: scroll;
	border-radius: @gap-min;
	background-color: @color-layer-10;
}
#live-chats-list:empty::before {
	content: "No chats found :(";
	display: block;
}

.live-chat {
	&:extend(.flex-h);
	&:extend(.material-block);
	justify-content: space-between;
	gap: @gap-medium;
}
.live-chat::before {
	content: "";
	display: block;
	min-height: 100%;
	min-width: 50px;
	border-radius: @gap-micro;
	background: white url("../_resources/img/logo18.png") no-repeat center center;
}

.live-chat .chat-title {
	text-transform: uppercase;
}
.live-chat .chat-creation-label {
	&:extend(.secondary-text);
}