/* STANDARD FONTS */
/* DEGULAR DEMO */
@font-face {
  font-family: "Degular Demo";
  font-weight: normal;
  font-style: normal;
  src: url("../_resources/font/DegularDemo-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Degular Demo";
  font-weight: normal;
  font-style: italic;
  src: url("../_resources/font/DegularDemo-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Degular Demo";
  font-weight: 100;
  font-style: normal;
  src: url("../_resources/font/DegularDemo-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Degular Demo";
  font-weight: 100;
  font-style: italic;
  src: url("../_resources/font/DegularDemo-ThinItalic.otf") format("opentype");
}
@font-face {
  font-family: "Degular Demo";
  font-weight: 300;
  font-style: normal;
  src: url("../_resources/font/DegularDemo-Light.otf") format("opentype");
}
@font-face {
  font-family: "Degular Demo";
  font-weight: 300;
  font-style: italic;
  src: url("../_resources/font/DegularDemo-LightItalic.otf") format("opentype");
}
@font-face {
  font-family: "Degular Demo";
  font-weight: 500;
  font-style: normal;
  src: url("../_resources/font/DegularDemo-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Degular Demo";
  font-weight: 500;
  font-style: italic;
  src: url("../_resources/font/DegularDemo-MediumItalic.otf") format("opentype");
}
@font-face {
  font-family: "Degular Demo";
  font-weight: 700;
  font-style: normal;
  src: url("../_resources/font/DegularDemo-Semibold.otf") format("opentype");
}
@font-face {
  font-family: "Degular Demo";
  font-weight: 700;
  font-style: italic;
  src: url("../_resources/font/DegularDemo-SemiboldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Degular Demo";
  font-weight: bold;
  font-style: normal;
  src: url("../_resources/font/DegularDemo-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Degular Demo";
  font-weight: bold;
  font-style: italic;
  src: url("../_resources/font/DegularDemo-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Degular Demo";
  font-weight: 900;
  font-style: normal;
  src: url("../_resources/font/DegularDemo-Black.otf") format("opentype");
}
@font-face {
  font-family: "Degular Demo";
  font-weight: 900;
  font-style: italic;
  src: url("../_resources/font/DegularDemo-BlackItalic.otf") format("opentype");
}
/* GONTSERRAT */
@font-face {
  font-family: "Gontserrat";
  font-weight: normal;
  font-style: normal;
  src: url("../_resources/font/Gontserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gontserrat";
  font-weight: normal;
  font-style: italic;
  src: url("../_resources/font/Gontserrat-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Gontserrat";
  font-weight: 100;
  font-style: normal;
  src: url("../_resources/font/Gontserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gontserrat";
  font-weight: 100;
  font-style: italic;
  src: url("../_resources/font/Gontserrat-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gontserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../_resources/font/Gontserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Gontserrat";
  font-weight: 500;
  font-style: italic;
  src: url("../_resources/font/Gontserrat-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gontserrat";
  font-weight: bold;
  font-style: normal;
  src: url("../_resources/font/Gontserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gontserrat";
  font-weight: bold;
  font-style: italic;
  src: url("../_resources/font/Gontserrat-BoldItalic.ttf") format("truetype");
}
/* NEXA */
@font-face {
  font-family: "Nexa";
  font-weight: 100;
  font-style: normal;
  src: url("../_resources/font/Nexa-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Nexa";
  font-weight: 900;
  font-style: normal;
  src: url("../_resources/font/Nexa-Heavy.ttf") format("truetype");
}
/* ND LOGOS */
@font-face {
  font-family: "ND Logos";
  font-weight: normal;
  font-style: normal;
  src: url("../_resources/font/ND-LOGOS-REGULAR.ttf") format("truetype");
}
@font-face {
  font-family: "ND Logos";
  font-weight: normal;
  font-style: italic;
  src: url("../_resources/font/ND-LOGOS-REGULAR-ITALIC.ttf") format("truetype");
}
/* VELOPED */
@font-face {
  font-family: "Veloped";
  font-weight: normal;
  font-style: normal;
  src: url("../_resources/font/Veloped.ttf") format("truetype");
}
/* Password dots */
@font-face {
  font-family: "password";
  font-weight: normal;
  font-style: normal;
  src: url("../_resources/font/password-cover.eot") format("embedded-opentype"), url("../_resources/font/password-cover.woff") format("woff");
}
/* VARIABLES */
/* GLOBAL STYLES */
* {
  font-family: "Degular Demo", "Gontserrat", sans-serif;
}
input,
textarea {
  padding: 5px;
  border: solid 2px transparent;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.25);
}
input.valid,
textarea.valid {
  border-color: limegreen;
}
input.invalid,
textarea.invalid {
  border-color: red;
}
input[type="password"] {
  color: #5a5a5a;
  font-family: 'password', sans-serif;
  letter-spacing: 0.15em;
}
button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  padding-block: 10px;
  padding-inline: 20px;
  border: none;
  border-radius: 10px;
  transition: transform 0.1s;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transform: scale(1.05);
}
button:active {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(0.95);
}
.logo-font {
  font-family: "ND Logos", "Arial Black", arial, sans-serif;
  font-style: italic;
}
.flex-v,
#join-form {
  display: flex;
  flex-direction: column;
}
.flex-h {
  display: flex;
  flex-direction: row;
}
.standard-shadow {
  box-shadow: rgba(127, 127, 127, 0.5) 0 0 10px 0;
}
.material-block {
  background-color: rgba(127, 127, 127, 0.1);
  border-radius: 10px;
  padding: 10px;
  background-image: linear-gradient(0deg, rgba(127, 127, 127, 0.3), transparent);
}
.material-shadow,
button,
#join-form {
  box-shadow: -4px -4px 20px 0 rgba(255, 255, 255, 0.3), 4px 4px 20px 0 rgba(0, 0, 0, 0.3);
}
.material-shadow-inset {
  box-shadow: inset 0 -5px 20px 0 rgba(0, 0, 0, 0.2);
}
.secondary-text {
  color: rgba(127, 127, 127, 0.7);
}
body {
  background-color: rgba(127, 127, 127, 0.7);
}
#join-form {
  width: calc(min(70vw, 70vh) - calc(2 * 10px));
  min-width: max-content;
  margin-block-start: 80px;
  margin-inline: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: whitesmoke;
}
/* Hide the password field if no password is needed */
#room-password:placeholder-shown[required],
label[for="room-password"]:has(+ #room-password:placeholder-shown[required]) {
  display: none;
}
#buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-block-start: 40px;
}
#buttons button {
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */