
/* STANDARD FONTS */

/* DEGULAR DEMO */
@font-face {
	font-family: "Degular Demo";
	font-weight: normal; font-style: normal;
	src: url("../_resources/font/DegularDemo-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Degular Demo";
	font-weight: normal; font-style: italic;
	src: url("../_resources/font/DegularDemo-Italic.otf") format("opentype");
}
@font-face {
	font-family: "Degular Demo";
	font-weight: 100; font-style: normal;
	src: url("../_resources/font/DegularDemo-Thin.otf") format("opentype");
}
@font-face {
	font-family: "Degular Demo";
	font-weight: 100; font-style: italic;
	src: url("../_resources/font/DegularDemo-ThinItalic.otf") format("opentype");
}
@font-face {
	font-family: "Degular Demo";
	font-weight: 300; font-style: normal;
	src: url("../_resources/font/DegularDemo-Light.otf") format("opentype");
}
@font-face {
	font-family: "Degular Demo";
	font-weight: 300; font-style: italic;
	src: url("../_resources/font/DegularDemo-LightItalic.otf") format("opentype");
}
@font-face {
	font-family: "Degular Demo";
	font-weight: 500; font-style: normal;
	src: url("../_resources/font/DegularDemo-Medium.otf") format("opentype");
}
@font-face {
	font-family: "Degular Demo";
	font-weight: 500; font-style: italic;
	src: url("../_resources/font/DegularDemo-MediumItalic.otf") format("opentype");
}
@font-face {
	font-family: "Degular Demo";
	font-weight: 700; font-style: normal;
	src: url("../_resources/font/DegularDemo-Semibold.otf") format("opentype");
}
@font-face {
	font-family: "Degular Demo";
	font-weight: 700; font-style: italic;
	src: url("../_resources/font/DegularDemo-SemiboldItalic.otf") format("opentype");
}
@font-face {
	font-family: "Degular Demo";
	font-weight: bold; font-style: normal;
	src: url("../_resources/font/DegularDemo-Bold.otf") format("opentype");
}
@font-face {
	font-family: "Degular Demo";
	font-weight: bold; font-style: italic;
	src: url("../_resources/font/DegularDemo-BoldItalic.otf") format("opentype");
}
@font-face {
	font-family: "Degular Demo";
	font-weight: 900; font-style: normal;
	src: url("../_resources/font/DegularDemo-Black.otf") format("opentype");
}
@font-face {
	font-family: "Degular Demo";
	font-weight: 900; font-style: italic;
	src: url("../_resources/font/DegularDemo-BlackItalic.otf") format("opentype");
}

/* GONTSERRAT */
@font-face {
	font-family: "Gontserrat";
	font-weight: normal; font-style: normal;
	src: url("../_resources/font/Gontserrat-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Gontserrat";
	font-weight: normal; font-style: italic;
	src: url("../_resources/font/Gontserrat-Italic.ttf") format("truetype");
}
@font-face {
	font-family: "Gontserrat";
	font-weight: 100; font-style: normal;
	src: url("../_resources/font/Gontserrat-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Gontserrat";
	font-weight: 100; font-style: italic;
	src: url("../_resources/font/Gontserrat-LightItalic.ttf") format("truetype");
}
@font-face {
	font-family: "Gontserrat";
	font-weight: 500; font-style: normal;
	src: url("../_resources/font/Gontserrat-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "Gontserrat";
	font-weight: 500; font-style: italic;
	src: url("../_resources/font/Gontserrat-MediumItalic.ttf") format("truetype");
}
@font-face {
	font-family: "Gontserrat";
	font-weight: bold; font-style: normal;
	src: url("../_resources/font/Gontserrat-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Gontserrat";
	font-weight: bold; font-style: italic;
	src: url("../_resources/font/Gontserrat-BoldItalic.ttf") format("truetype");
}

/* NEXA */
@font-face {
	font-family: "Nexa";
	font-weight: 100; font-style: normal;
	src: url("../_resources/font/Nexa-ExtraLight.ttf") format("truetype");
}
@font-face {
	font-family: "Nexa";
	font-weight: 900; font-style: normal;
	src: url("../_resources/font/Nexa-Heavy.ttf") format("truetype");
}

/* ND LOGOS */
@font-face {
	font-family: "ND Logos";
	font-weight: normal; font-style: normal;
	src: url("../_resources/font/ND-LOGOS-REGULAR.ttf") format("truetype");
}
@font-face {
	font-family: "ND Logos";
	font-weight: normal; font-style: italic;
	src: url("../_resources/font/ND-LOGOS-REGULAR-ITALIC.ttf") format("truetype");
}

/* VELOPED */
@font-face {
	font-family: "Veloped";
	font-weight: normal; font-style: normal;
	src: url("../_resources/font/Veloped.ttf") format("truetype");
}

/* Password dots */
@font-face {
	font-family: "password";
	font-weight: normal; font-style: normal;
	src: url("../_resources/font/password-cover.eot") format("embedded-opentype"),
	url("../_resources/font/password-cover.woff") format("woff");
}