
@import "fonts";

/* VARIABLES */

@gap-micro: 5px;
@gap-min: 10px;
@gap-medium: 20px;
@gap-max: 40px;
@gap-macro: 80px;

@color-layer-10: rgba(127, 127, 127, 0.1);
@color-layer-25: rgba(127, 127, 127, 0.25);
@color-layer-50: rgba(127, 127, 127, 0.5);
@color-layer-75: rgba(127, 127, 127, 0.75);
@color-layer-90: rgba(127, 127, 127, 0.9);


/* GLOBAL STYLES */

* {
	font-family: "Gontserrat", sans-serif;
}

.logo-font {
	font-family: "ND Logos", "Arial Black", arial, sans-serif;
}

.flex-v {
	display: flex;
	flex-direction: column;
}
.flex-h {
	display: flex;
	flex-direction: row;
}

.material-block {
	background-color: @color-layer-25;
	border-radius: @gap-min;
	padding: @gap-min;
	background-image: linear-gradient(0deg, @color-layer-25, transparent);
}

.material-shadow {
	box-shadow:
		-4px -4px 20px 0 rgba(255, 255, 255, 0.3),
		4px 4px 20px 0 rgba(0, 0, 0, 0.3);
}

.material-shadow-inset {
	box-shadow:
		inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.secondary-text {
	color: @color-layer-75;
}
