
@import "fonts";

/* VARIABLES */

@gap-micro: 5px;
@gap-min: 10px;
@gap-medium: 20px;
@gap-max: 40px;
@gap-macro: 80px;

@color-darker-10: rgba(127, 127, 127, 0.1);
@color-darker-30: rgba(127, 127, 127, 0.3);
@color-darker-50: rgba(127, 127, 127, 0.5);
@color-darker-70: rgba(127, 127, 127, 0.7);
@color-darker-90: rgba(127, 127, 127, 0.9);

@color-lighter-10: rgba(255, 255, 255, 0.1);
@color-lighter-30: rgba(255, 255, 255, 0.3);
@color-lighter-50: rgba(255, 255, 255, 0.5);
@color-lighter-70: rgba(255, 255, 255, 0.7);
@color-lighter-90: rgba(255, 255, 255, 0.9);

/* GLOBAL STYLES */

* {
	font-family: "Degular Demo", "Gontserrat", sans-serif;
}

h1, h2, h3 {
	font-weight: 500;
}
h4, h5, h6 {
	font-weight: bold;
}

input, textarea {
	padding: @gap-micro;
	border: solid 2px transparent;
	border-radius: @gap-min;
	background-color: rgba(0,0,0, 0.1);
}
input::placeholder, textarea::placeholder { color: rgba(0,0,0, 0.25); }
input.valid, textarea.valid { border-color: limegreen; }
input.invalid, textarea.invalid { border-color: red; }
input[type="password"] {
	color: rgb(90, 90, 90);
	font-family: 'password', sans-serif;
	letter-spacing: .15em;
}
input[disabled] {
	--color-1: rgba(0,0,0, 0.05) !important;
	--color-2: transparent !important;
	&:extend(.stripes-background);
	color: rgba(0,0,0, 0.1);
	background-color: transparent;
}
label:has(+ input[disabled]) {
	opacity: .2;
}

// Add the .pseudo-element-state-display to a checkbox, then:
/* - when it is not checked, the ::before will be visible
*  - when it is checked, the ::after will be visible
*/
input[type=checkbox].pseudo-element-state-display:not(:checked)::before,
input[type=checkbox].pseudo-element-state-display:checked::after {
	visibility: visible;
}
input[type=checkbox].pseudo-element-state-display:not(:checked)::after,
input[type=checkbox].pseudo-element-state-display:checked::before {
	visibility: hidden;
}



button {
	&:extend(.material-shadow);
	font-size: 1.1rem;
	cursor: pointer;
	background-color: @color-lighter-50;
	padding-block: @gap-min;
	padding-inline: @gap-medium;
	border: none;
	border-radius: @gap-min;
	transition: transform 0.1s;
}
button:hover {
	background-color: @color-lighter-70;
	transform: scale(1.05);
}
button:active {
	background-color: @color-lighter-10;
	transform: scale(.95);
}

.logo-font {
	font-family: "ND Logos", "Arial Black", arial, sans-serif;
	font-style: italic;
}

.flex-v {
	display: flex;
	flex-direction: column;
}
.flex-h {
	display: flex;
	flex-direction: row;
}

.standard-shadow {
	box-shadow: @color-darker-50 0 0 10px 0;
}

.material-block {
	background-color: @color-darker-10;
	border-radius: @gap-min;
	padding: @gap-min;
	background-image: linear-gradient(0deg, @color-darker-30, transparent);
}

.material-shadow {
	box-shadow:
		-4px -4px 20px 0 rgba(255, 255, 255, 0.3),
		4px 4px 20px 0 rgba(0, 0, 0, 0.3);
}

.material-shadow-inset {
	box-shadow:
		inset 0 -5px 20px 0 rgba(0, 0, 0, 0.2);
}

.stripes-background {
	--color-1: black;
	--color-2: white;
	background-image: linear-gradient(40deg, var(--color-1) 0%, var(--color-1) 24%, var(--color-2) 26%, var(--color-2) 49%, var(--color-1) 51%, var(--color-1) 74%, var(--color-2) 76%);
	background-size: 40px 120%;
	background-position: center;
}

.secondary-text {
	color: @color-darker-70;
}
